# Created by .ignore support plugin (hsz.mobi)
.idea
__pycache__
*.pyc
reports
*.iml
.env.development.local
.jenkins/backups

node_modules
build

# Temporary env files, see https://www.freecodecamp.org/news/how-to-implement-runtime-environment-variables-with-create-react-app-docker-and-nginx-7f9d42a91d70/
/public/env-config.js
env-config.js
